<%= provide(:title, "Message from Tim") %>
<div class="full-blog">
	<h5 class="center"><%= link_to "Blog Archives", mediablog_path %>
	<h4 class="center"><%= @full_blog.title %> - <%= @full_blog.created_at.strftime("%b %d, %Y") %></h4>
	<div class="tagline center"><%= @full_blog.tagline %></div>
	<p class="content"><%= simple_format @full_blog.content %></p>
</div>
