<% if @blog.image? %>
  <div id="blog-photo">
    <%= image_tag(@blog.image_url.to_s) %>
  </div>
<% end %>
<div class="content">
  <h2 class="center"><%= @blog.title %></h2>
  <% if @blog.tagline? %><h4 class="center hidden-phone"><%= @blog.tagline %></h4><% end %>
  <p><%= raw truncate @blog.content, length: 600 %></p>
  <p><%= link_to("Read More", blog_path(@blog)) %>   |   <%= link_to("All Blogs", mediablog_path) %></p>
  <hr class="hidden-phone">
  <hr class="visible-phone">
</div>