<% if @blog.image? %>
  <div id="blog-photo">
    <%= image_tag(@blog.image_url.to_s) %>
  </div>
<% end %>
<div class="content">
  <h2 class="center"><%= @blog.title %></h2>
  <% if @blog.tagline? %><h4 class="center hidden-phone"><%= @blog.tagline %></h4><% end %>
  <p><%= simple_format @blog.content %></p>
  <p>
   
    <%= link_to("Past Posts", mediablog_path) %></p>
</div>