<div class="upcoming-events">
  <h3 class="center"> Upcoming Events </h3>
  <hr class="hidden-phone">
  <% @event.each do |event| %>
    <div id = "event">
      <% if event.image? %>
        <div class="event-image"><%= image_tag(event.image_url.to_s) %></div>
      <% end %>
              <div class="event-title">
<%= event.title %></div>
      <p class="event-date"> <span class="bold">When:  </span><%= event.event_start.strftime("%A %b %d at %I:%M %p") %></p>
      <p class="event-location">
        <span class="bold">Location:  </span><%= event.location %>
      </p>
      <% if event.link? %>
        <p class="event-link"><%= link_to "further details", event.link, target: "blank" %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>