<div class="row-fluid">
<div class="span3"></div>
  <div id="home">
    <div class="span9 hero-unit">
      <%= render :partial => 'hero-unit' %>
      <div class="row-fluid">
        <div class="span6">
          <%= render :partial => 'news_articles' %>
        </div>
        <div class="span6">
          <%= render :partial => 'upcoming_events' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="span12 video-photos">
  <div class="row-fluid">
    <div class="span6">
      <%= render :partial => 'video' %>
    </div>
    <div class="span6">
      <%= render :partial => 'photo_carousel' %>
    </div>
  </div>
</div>

