<%= form_for @contribution do |f| %>
	 	<%= render 'shared/error_messages', object: f.object %>
	 	<%= render 'contributions/intro' %>
	 	<%= render "#{@contribution.current_step}_step", :f => f %>
  		<p class="center submit">
  			<%= f.submit "Back", :name => "back_button" unless @contribution.first_step? %>
  			<%= f.submit "Continue" %>
  		</p>
	<% end %>