<%= provide(:title, "Contribute") %>
<div class="contribute">
	<%= form_for @contribution do |f| %>
	 	<%= render 'shared/error_messages', object: f.object %>
	 	<%= render 'contributions/intro' %>
	 	<h2>Personal Information</h2>
	    <p>
	      <%= f.label :name, "Name:*  " %>
	      <%= f.text_field :name %>
	    </p>
	    <p> 
	    	<%= f.label :address1, "Address:*  " %>
	    	<%= f.text_field :address1 %>
	    </p>
	    <p>
	    	<%= f.label, :address2, "Address:  " %>
	    	<%= f.text_field :address2 %>
	    </p>
	    <p>
	    	<%= f.label, :city, "City:*  " %>
	    	<%= f.text_field :city %>
	    </p>
	    <p>
	    	<%= select_tag :state, us_states%>
	    </p>
	    <p>
	    	<%= f.label, :zip, "Zip:*  " %>
	    	<%= f.text_field :zip %>
	    </p>

	<% end %>
</div>

