<%= provide(:title, 'Edit Photo') %>
<p class="center"><%= link_to "Back to Gallery", @photo.gallery %></p>
<p class="center edit-image"><%= image_tag(@photo.image_url.to_s) %></p>
<p class=center>
    <%= link_to "DELETE Photo", @photo, method: :delete, data: { confirm: "You sure?"} %>
</p>
<div class="gallery-form">
	<%= semantic_form_for @photo do |f| %>
	    <p class= "descripton">
			<%= f.input :description, :as => :text, :label => t('.description (optional):  ') %>
	   	</p>      
	    <p class="center">
		    <%= f.submit "Update Description", class: "btn btn-large btn-primary" %>
		</p>
	<% end %>
</div>
