<%= provide(:title, 'Edit Photo') %>
<div id="edit-photo">
	  <p><%= link_to "Back to Gallery", @photo.gallery %></p>
	<div class="gallery-form">
			<%= image_tag(@photo.image) %>
			<%= semantic_form_for @photo do |f| %>
				<ul>
			        <div class="gallery-field">
			        	<%= f.input :description, :as => :text, :label => t('.description') %>
			        </div>
			        <%= f.submit "Update Description", class: "btn btn-large btn-primary" %>
			     </ul>
			<% end %>
		</div>
</div>
