<%= provide(:title, "Add Photo to #{@photo.gallery.name}") %>
<p class="center"><%= link_to "Back to #{@photo.gallery.name}", gallery_path(@photo.gallery.id)%></p>
<div class="gallery-form">
  <%= semantic_form_for @photo, :html => {:multipart => true} do |f| %>
 	  <%= render 'shared/error_messages', object: f.object %>
    <%= f.hidden_field :gallery_id %>
    <h5>Basic Info</h5>
    <p>
      <%= f.label :image, "Upload Image:  " %>
      <%= f.file_field :image %>
    </p>
    <p>
      <%= f.label :remote_image_url, "or image URL:" %>
      <%= f.text_field :remote_image_url %>
    </p>
    <p class= "descripton">
			<%= f.input :description, :as => :text, :label => t('.description (optional):  ') %>
    </p>
    <p class ="center">
      <%= f.submit "Add Photo", class: "btn btn-large btn-primary" %>
    </p>
  <% end %>
</div>
</div>


