<% provide(:title, 'Edit' @gallery.name) %>
<div id="gallery-form">
  <div class="row">
    <div class="span8">

      <%= form_for(@gallery) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
      
        <div class="gallery-field">
          <%= f.label :name, "Gallery Name:  " %>
          <%= f.text_field :name %>
        </div>
        <div class="gallery-field">
          <%= f.label :description, "Description (Optional):  " %>
          <%= f.text_field :description %>
        </div>
        <div class="gallery-field">
          <%= f.label :cover_image, "URL:  " %>
          <%= f.text_field :cover_image %>
        </div>
        <%= f.submit "Create Gallery", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

