<div class="navigation-bar">
			<div class="navbar">
				<div class="navbar-inner">
					<ul class="nav">
				    	<li> <%= link_to "About Tim", about_tim_path %></li>
				    	<li> <%= link_to "Vision 2017", vision_path %></li>
				    	<li> <%= link_to "Contribute", contribute_path %></li>
				    	<li> <%= link_to "Status Reports", status_reports_path %></li>
				    	<li> <%= link_to "Media", media_path %></li>
				    	<li> <%= link_to "Photo Galleries", galleries_path %></li>
				    	<li> <%= link_to "Contact", contact_path %></li>
				    	<% if 2+2 == 4 %>
				    	<li id="fat-menu" class="dropdown pull-right"> 
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin
								<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li> <%= link_to "Add Gallery", '#' %>	
								<li> <%= link_to "Edit Gallery", '#' %>		  		
				    			<li> <%= link_to "Sign Out", signout_path, method: "delete" %></li>
				    		</ul>
				    	</li>
				    	<% end %>				    
				    </ul>
				</div>
			</div>
		</div>