<div class="navigation-bar">
	<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav">
		    	<li> <%= link_to "About Tim", about_tim_path %></li>
		    	<li><%= link_to "Contributions",contribute_path %></li>
<!-- 				 <li> <%= link_to "Status Reports", status_reports_path %></li> -->
				 <li> <%= link_to "In The News", media_path %></li>
				 <li> <%= link_to "Photo Galleries", galleries_path %></li>
				 <li> <%= link_to "Contact", contact_path %></li>	
				 <li id="petition_button">	<%= link_to "Sign Parks Petition", 'http://www.change.org/petitions/city-of-hoboken-acquire-property-at-1st-and-jackson-streets-for-public-open-space-2', target: "blank" %></li>			    
			</ul>
		</div>
	</div>
</div>
