<ul class="nav">
			    	<li> <%= link_to "About Tim", about_tim_path %></li>
			    	<li><%= link_to "Contributions",contribute_path %></li>
	<!-- 				 <li> <%= link_to "Status Reports", status_reports_path %></li> -->
					 	<li> <%= link_to "In The News", media_path %></li>
					 	<li class="hidden-phone photo_galleries_nav"> <%= link_to "Photo Galleries", galleries_path %></li>
					 	<li> <%= link_to "Contact", contact_path %></li>	
  
					</ul>