<div class="navigation-bar">
			<div class="navbar">
				<div class="navbar-inner">
					<ul class="nav">
				    	<li class="divider-vertical"></li>
				    	<li> <%= link_to "About Tim", about_tim_path %></li>
				    	<li class="divider-vertical"></li>
				    	<li> <%= link_to "Media", media_path %></li>
				    	<li class="divider-vertical"></li>
				    	<li> <%= link_to "Contribute", contribute_path %></li>
				    	<li class="divider-vertical"></li>
				    	<li> <%= link_to "Photos", photos_path %></li>
				    	<li class="divider-vertical"></li>
				    	<li> <%= link_to "Gallery", gallery_path %></li>
				    	<li class="divider-vertical"></li>
				    	<li> <%= link_to "Contact", contact_path %></li>
				    	<li class="divider-vertical"></li>
				    	<% if signed_in? %>
				    	<li id="fat-menu" class="dropdown pull-right"> 
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin
								<b class="caret"></b></a>
							<ul class="dropdown-menu">				    		
				    			<li> <%= link_to "Sign Out", signout_path, method: "delete" %></li>
				    		</ul>
				    	</li>
				    	<li class="divider-vertical"></li>
				    	<% end %>				    
				    </ul>
				</div>
			</div>
		</div>