<div class="navigation-bar">
	<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav">
		    	<li> <%= link_to "About Tim", about_tim_path %></li>
		    	<!--<li> <%= link_to "Vision 2017", vision_path %></li>-->
		    	<li><%= link_to "Contributions",contribute_path %></li>
				 <li> <%= link_to "Status Reports", status_reports_path %></li>
				 <li> <%= link_to "Media", media_path %></li>
				 <li> <%= link_to "Photo Galleries", galleries_path %></li>
				 <li> <%= link_to "Contact", contact_path %></li>				    
			</ul>
		</div>
	</div>
</div>
<script>
   $(document).ready(function () {
        $('a[href="' + this.location.pathname + '"]').parent().addClass('active');
        var $parent=$('a[href="' + this.location.pathname + '"]').parent()
    });
</script>

