<!DOCTYPE html>
<html>
<!--[if IE 6]>
    <link href="ie6.min.css" rel="stylesheet">
<![endif]-->
	<head>
		<%= favicon_link_tag "favicon.ico" %>
     <title> <%= full_title(yield(:title)) %></title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= render 'layouts/scripts' %>
	  <%= render 'layouts/shim' %>
	</head>	
	<body>	
		<%= render'layouts/topline' %>	
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<%= render 'layouts/main_image' %>	
				</div>
				<div class="span12">
					<%= render 'layouts/navigation-bar' %>
				</div>
			</div>
		</div>
		<div class="container-fluid main-container">
	    <div class="row-fluid">
	     	<div class="span9">
					<%= yield %>
				</div>
				<div class="span3">
					<div class= "side_bar">
						<div class="row-fluid">
							<div class="span12">
								<%= render 'layouts/intouch' %>
							</div>
							<div class="span12">
								<%= render 'layouts/voter_registration' %>
							</div>
							<div class="span12">
								<%= render 'layouts/contribute_button' %>
							</div>
							<div class="span12 twitter-box">
								<%= render 'layouts/twitter' %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	 		<%= render 'layouts/footer' %>

	<script>
    $(function(){if($.browser.msie&&parseInt($.browser.version,10)===6){$('.row div[class^="span"]:last-child').addClass("last-child");$('[class*="span"]').addClass("margin-left-20");$(':button[class="btn"], :reset[class="btn"], :submit[class="btn"], input[type="button"]').addClass("button-reset");$(":checkbox").addClass("input-checkbox");$('[class^="icon-"], [class*=" icon-"]').addClass("icon-sprite");$(".pagination li:first-child a").addClass("pagination-first-child")}})
</script>
		</body>
</html>