<!DOCTYPE html>
<html>
	<head>
	  	<title> <%= full_title(yield(:title)) %></title>
	  	<%= stylesheet_link_tag    "application", :media => "all" %>
	  	<%= javascript_include_tag "application" %>
	  	<%= csrf_meta_tags %>
	  	<%= render 'layouts/shim' %>
	</head>
	<body>
		<div class="container">
			<%= render 'layouts/header' %>
			<%= render 'layouts/navigation-bar' %>
       		<h1><%= yield(:title) %></h1>
       						<% flash.each do |key, value| %>
        		<%= content_tag(:div, value, class: "alert alert-#{key}") %>
        		<% end %>
			<div class="main-info">
        		<div class="row-fluid">
        			<div class="span9">
						<%= yield %>
					</div>
					<div class="sidebar">
						<div class="span3">
							<div id="top">
								<div class="row-fluid">
									<div class="span12">
										<%= render 'pages/register' %>
   									</div>
								</div>
							</div>
							<div id="bottom"%>
								<div class="row-fluid">
									<div class="span12">
										<%= render 'layouts/twitter' %>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--%= render 'layouts/footer' %>-->
		</div>
	</body>
</html>