<!DOCTYPE html>
<html>
	<head>
	  	<title> <%= full_title(yield(:title)) %></title>
	  	<%= stylesheet_link_tag    "application", :media => "all" %>
	  	<%= javascript_include_tag "application" %>
	  	<%= csrf_meta_tags %>
	  	<%= render 'layouts/shim' %>
	</head>	
	<%= render'layouts/topline' %>	
<body>
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

		<div class="container">
			<%= render 'layouts/header' %>
			<%= render 'layouts/navigation-bar' %>
       		<h1><%= yield(:title) %></h1>
       						<% flash.each do |key, value| %>
        		<%= content_tag(:div, value, class: "alert alert-#{key}") %>
        		<% end %>
			<div class="main-info">
        		<div class="row-fluid">
        			<div class="span9">
						<%= yield %>
					</div>
					<div class="sidebar">
						<div class="span3">
							<div id="top">
								<div class="row-fluid">
									<div class="span12">
										<%= render 'layouts/intouch' %>
									</div>
								</div>
							</div>
							<div id="bottom">
								<div class="row-fluid">
									<div class="span12">
										<%= render 'layouts/twitter' %>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--%= render 'layouts/footer' %>-->
		</div>
	</body>
</html>