<!DOCTYPE html>
<html>
	<head>
		<%= favicon_link_tag "favicon.ico" %>
        <title> <%= full_title(yield(:title)) %></title>
	  	<%= stylesheet_link_tag    "application", :media => "all" %>
	  	<%= javascript_include_tag "application" %>
	  	<%= csrf_meta_tags %>
	  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= render 'layouts/scripts' %>
	  	<%= render 'layouts/shim' %>
	</head>	
	<body>	
		<%= render'layouts/topline' %>	
		<div class="container">
			<div class="row-fluid">
				<div class="span12">
					<%= render 'layouts/main_image' %>	
				</div>

					<div class="span12">
						<%= render 'layouts/navigation-bar' %>
					</div>
				</div>
			</div>
		</div>
		<div class="container main-container">
            <div class="row-fluid">
        		<div class="span9 main-body">
					<%= yield %>
				</div>
				<div class="span3 side_bar">
					<div class="row-fluid">
						<div class="span12">
							<%= render 'layouts/intouch' %>
						</div>
						<div class="span12">
							<%= render 'layouts/voter_registration' %>
						</div>
							<%= render 'layouts/twitter' %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%= render 'layouts/footer' %>
	</body>
</html>