<!DOCTYPE html>
<html>
	<head>
		<%= favicon_link_tag "favicon.ico" %>
     <title> <%= full_title(yield(:title)) %></title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= render 'layouts/scripts' %>
	  <%= render 'layouts/shim' %>
	</head>	
	<body>	
		<%= render 'layouts/petition' %>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12 hidden-phone" id="topline-block">
					<%= render'layouts/topline' %>	
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12" id="image_container">
					<%= render 'layouts/main_image' %>	
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<%= render 'layouts/navigation-bar' %>
				</div>
			</div>
		</div>
		<div class="container-fluid main-container">
	    <div class="row-fluid">
	     	<div class="span9">
	     		<% flash.each do |key, msg| %>
        		<%= content_tag :div, msg, :class => [key, " message"], :id => "notice_#{key}" %>
      		<% end %>
					<%= yield %>
				</div>
				<div class="span3 hidden-phone">
					<div class= "side_bar">
						<div class="row-fluid">
							<div class="span12">
								<%= render 'layouts/intouch' %>
							</div>
							<div class="span12">
								<%= render 'layouts/voter_registration' %>
							</div>
							<div class="span12">
								<%= render 'layouts/contribute_button' %>
							</div>
							<div class="span12 twitter-box">
								<%= render 'layouts/twitter' %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid main-container">
	    	<div class="row-fluid">
					<%= render 'layouts/footer' %>
				</div>
			</div>
		</div>
	</body>
</html>